<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- M3U -->
  <category label="30010">
    <setting id="sep1" label="30010" type="lsep"/>
    <setting id="tvlServer" type="text" label="30011" default="127.0.0.1"/>
    <setting id="tvlPort" type="number" label="30012" default="2020" />
    <setting id="m3uCache" type="bool" label="30013" default="false"/>
    <setting id="streamCache" type="bool" label="30014" default="false"/>
  </category>

  <!-- EPG -->
  <category label="30020">
    <setting id="sep2" label="30020" type="lsep"/>
    <setting id="epgPathType" type="enum" label="30000" lvalues="30001|30002" default="0"/>
    <setting id="epgUrl" type="text" label="30021" default="" visible="eq(-1,1)"/>
    <setting id="epgCache" type="bool" label="30022" default="true"/>
    <setting id="epgTimeShift" type="slider" label="30023" default="0" range="-12,.5,14" option="float"/>
    <setting id="epgTSOverride" type="bool" label="30024" default="false"/>
  </category>
</settings>
